/*reset*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	background: url('../images/background.png');
}

.container {
	max-width:1920px;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 364px 578px 576px;
	grid-gap: 58px 58px;
}


.item-a {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	background: white;

}
.item-b {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	background: white;

}

.item-c {
	grid-column-start: 3;
	grid-row-start: 1;
	background: white;

}