/*reset*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	background: url('../images/background-1.png');
}

.container-1 {
	max-width:1644px;
	margin: 50px auto;
	column-count: 3;
	column-gap: 1em;
	padding: 30px;
}


.item-a {
	display: inline-block;
	background: white;
	border-radius: 5px;
	padding: 20px;
	/*max-width: 364px;*/
	width: 100%;
	margin: 0 0 1em;
}
.item-b {
	display: inline-block;
	background: white;
	border-radius: 5px;
	padding: 20px;
	/*max-width: 578px;*/
	width: 100%;
	margin: 0 0 1em;

}

.item-c {
	display: inline-block;
	background: white;
	border-radius: 5px;
	padding: 20px;
	/*max-width: 576px;*/
	width: 100%;
	margin: 0 0 1em;
}

.item {
	display: inline-block;
	background: white;
	border-radius: 5px;
	padding: 20px;
	width: 100%;
	margin: 0 0 1em;
	position: relative;
	top: 5px;
	transition:all 1s ease;
}


@media (max-width: 990px) {
	.container-1 {
		column-count: 2;
	}
  .item {
  	position: relative;
    top:0px;
  }

}



.new-visits {
	max-width: 200px;
    display: block;
    margin: 0 auto;
}